/*body{
  scrollbar-base-color: #C0C0C0;
  scrollbar-base-color: #C0C0C0;
  scrollbar-3dlight-color: #C0C0C0;
  scrollbar-highlight-color: #C0C0C0;
  scrollbar-track-color: #EBEBEB;
  scrollbar-arrow-color: black;
  scrollbar-shadow-color: #C0C0C0;
  scrollbar-dark-shadow-color: #C0C0C0;
}*/

::-webkit-scrollbar { 
    width: 5px; 
    height: 5px;
}

::-webkit-scrollbar-button {  
    background-color: #666; 
    height: 0px; 
    width: 0px; 
}

::-webkit-scrollbar-track {  
    background-color: #999;
}

::-webkit-scrollbar-track-piece { 
    background-color: #F3F3F3;
}

::-webkit-scrollbar-thumb { 
    height: 50px; 
    background-color: #666; 
    /*border-radius: 3px;*/
}

::-webkit-scrollbar-corner { 
    background-color: #999;
}

::-webkit-resizer { 
    background-color: #666;
}

/*@-moz-document url-prefix(http://),url-prefix(https://) {
    scrollbar {
       -moz-appearance: none !important;
       background: rgb(0,255,0) !important;
    }
    thumb,scrollbarbutton {
       -moz-appearance: none !important;
       background-color: rgb(0,0,255) !important;
    }

    thumb:hover,scrollbarbutton:hover {
       -moz-appearance: none !important;
       background-color: rgb(255,0,0) !important;
    }

    scrollbarbutton {
       display: none !important;
    }

    scrollbar[orient="vertical"] {
      width: 5px !important;
    }
}*/
