/* 
    Document   : theme
    Created on : 07-ago-2013, 8:38:37
    Author     : bruno
    Description:
        Purpose of the stylesheet follows.
*/

.x-panel-body {
    background-color:#FFFFFF;
}

.x-panel-header {
    background: #BCBCBC;
    /*height: 19px;*/
    padding-top: 6px;
    padding-bottom: 5px;
}

.x-tab-panel-header, .x-tab-panel-footer {
    border-color:#EBEBEB;
}

.x-tab-panel-header, .x-tab-panel-footer {
	border-color:#EBEBEB;
}

ul.x-tab-strip-top{
    border-bottom-color:#EBEBEB;
}

ul.x-tab-strip-bottom{
    border-top-color:#EBEBEB;
}

.x-tab-panel-header-plain .x-tab-strip-spacer,
.x-tab-panel-footer-plain .x-tab-strip-spacer {
    border-color:#EBEBEB;
}

.x-tab-panel-body {
    border-color:#EBEBEB;
}

.x-tab-scroller-left {
    border-bottom-color:#EBEBEB;
}

.x-tab-scroller-right {
    border-bottom-color:#EBEBEB;
}

.x-tab-panel-bbar .x-toolbar, .x-tab-panel-tbar .x-toolbar {
    border-color:#EBEBEB;
}

.x-form-check-group-label {
    border-bottom: 1px solid #EBEBEB;
}

.x-toolbar{
    border-color:#EBEBEB;
    background-color:#EBEBEB;
}

.x-grid-panel .x-panel-mc .x-panel-body {
    border-color:#EBEBEB;
}

.x-grid3-header-pop {
    border-left-color:#EBEBEB;
}

.x-grid-group-hd {
    border-bottom-color:#EBEBEB;
}

.x-panel {
    border-color: #EBEBEB;
}

.x-panel-header {
    border-color:#EBEBEB;
}

.x-panel-bbar .x-toolbar, .x-panel-tbar .x-toolbar {
    border-color:#EBEBEB;
}

.x-panel-tbar-noheader .x-toolbar, .x-panel-mc .x-panel-tbar .x-toolbar {
    border-top-color:#EBEBEB;
}

.x-panel-tl, .x-panel-tr, .x-panel-bl,  .x-panel-br{
    border-bottom-color:#EBEBEB;
}

.x-panel-ghost ul {
    border-color:#EBEBEB;
}

.x-panel-dd-spacer {
    border-color:#EBEBEB;
}

.x-window-proxy {
    border-color:#EBEBEB;
}

.x-window-bbar .x-toolbar {
    border-top-color:#EBEBEB;
}

.x-panel-ghost .x-window-tl {
    border-bottom-color:#EBEBEB;
}

.x-panel-collapsed .x-window-tl {
    border-bottom-color:#EBEBEB;
}

.x-panel-noborder .x-panel-header-noborder {
    border-bottom-color:#D4D4D4;
}

/*Borde inferior de la barra de herramienta superior*/
.x-panel-noborder .x-panel-tbar-noborder .x-toolbar {
    border-bottom-color:#BCBCBC;
}

/*Borde superior de la barra de herramienta inferior*/
.x-panel-noborder .x-panel-bbar-noborder .x-toolbar {
    border-top-color:#BCBCBC;
}

.x-tab-panel-bbar-noborder .x-toolbar {
    border-top-color:#EBEBEB;
}

.x-tab-panel-tbar-noborder .x-toolbar {
    border-bottom-color:#EBEBEB;
}

.x-list-header-inner em.sort-asc, .x-list-header-inner em.sort-desc {
    border-color: #EBEBEB;
}

/*Color del título de ventana*/
.x-window-tl .x-window-header {
    color:#5E5E5E;
}

.x-layout-split{
    background-color:#BCBCBC;
}

.x-panel-body {
    border-color:#BCBCBC;
}


.x-panel-body-noheader, .x-panel-mc .x-panel-body {
    border-top-color:#BCBCBC;
}

.x-window-tc {
    background-color: #BCBCBC;
}

.x-window-tl {
    background-color: #BCBCBC;
}

.x-window-tr {
    background-color: #BCBCBC;
}

/* Borde inferior de ventana */
.x-panel-nofooter .x-panel-bc, .x-panel-nofooter .x-window-bc {
    height:2px;
    font-size:0;
    line-height:0;
}

.x-window-bc {
    background-color: #BCBCBC;
}

.x-window-bl {
    background-color: #BCBCBC;
}

.x-window-br {
    background-color: #BCBCBC;
}

.x-window-mc {
    border-color:#BCBCBC;
}

.x-window-ml {
    background-color: #BCBCBC;
    padding-left: 2px;
}

/* Borde derecho de ventana*/
.x-window-mr {
    background-color: #BCBCBC;
    padding-right: 2px;
}

.x-layout-collapsed{
    background-color:#BCBCBC;
    border-color:#BCBCBC;
}

.x-layout-collapsed-over{
    background-color:#BCBCBC;
}
/*Margen de los tree-node*/
.x-tree-node-el {
    margin-top: 2px;
    margin-bottom: 2px;
}

/*Pestañas del tabpanel*/
.x-tab-strip-top .x-tab-right, .x-tab-strip-top .x-tab-left, .x-tab-strip-top .x-tab-strip-inner {
    background: none repeat scroll 0 0 #D4D4D4;
}

.x-tab-strip-top .x-tab-strip-active .x-tab-right {
    margin-bottom: 0px;
}

/* Pestaña de minimizar del panel sur del minimapa */
.x-layout-split-south .x-layout-mini {
    left: 41%;
}

.x-layout-cmini-south .x-layout-mini {
    left: 41%;
}

/*Borde inferior del header del panel de pestañas*/
.x-tab-panel-header, .x-tab-panel-footer {
    border-color: #BCBCBC;
}

.x-tab-panel-header, .x-tab-panel-footer {
    background-color: #BCBCBC;
}

ul.x-tab-strip-top {
    border-bottom-color: #BCBCBC;
}

.x-tab-panel-noborder .x-tab-panel-header-noborder {
    border-width: 0 0 0px 0;
}

.x-tab-panel-header {
    padding-bottom: 0px;
}

/*Alto de pestaña*/
.x-tab-strip .x-tab-with-icon span.x-tab-strip-text {
height: 17px;
}

.x-tab-strip span.x-tab-strip-text {
    padding: 3px 0;
}

.x-tab-strip .x-tab-with-icon span.x-tab-strip-text {
    padding-left: 39px;
    background-position: 13px 3px;
}

/*Color de pestaña activa*/
.x-tab-strip-top .x-tab-strip-active .x-tab-right {
    background: #BCBCBC;
}

.x-tab-strip-top .x-tab-strip-active .x-tab-strip-inner {
    background: #BCBCBC;
}

.x-tab-strip-top .x-tab-strip-active .x-tab-left {
    background: #BCBCBC;
}

/*tab panel header background*/
ul.x-tab-strip-top {
    background-color: #EBEBEB;
    background-image: none;
}

/*padding-left de las barras de herramientas*/
.x-panel-bbar .x-toolbar, .x-panel-tbar .x-toolbar {
    padding-left: 3px;
}